﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AngularJs Sample</title>
    <script src="../Scripts/angular.js"></script>
    <script src="../Controllers/App.js"></script>
    <script src="../Controllers/PremiumCalculatorController.js"></script>
    <script src="../Services/PremiumCalculatorService.js"></script>
    
</head>
<body ng-app="premiumApp">
    <div ng-controller="PremiumCalculatorController" style="width:500px;">
        <h2>Premium Calculation</h2>

        <table style="margin-left:30%;width:700px;">
            <tr>
                <td style="width:100px;">
                    <span>Name:</span>
                </td>
                <td>
                    <input type="text" id="name" ng-model="FormData.Name" placeholder="Enter Name" />
                    <span ng-show="IsNameError"style="color:red;">Name is required.</span>
                </td>
            </tr>
            <tr>
                <td style="width:100px;">
                    <span>Date Of Birth:</span>
                </td>
                <td>
                    <input type="date" ng-model="DateOfBirth" placeholder="Enter Date Of Birth" />
                </td>
            </tr>
            <tr>
                <td style="width:100px;">
                    Age:
                </td>
                <td>
                    <input type="number" ng-model="FormData.Age" placeholder="" readonly disabled />
                    <span ng-show="IsAgeError" style="color:red;">Please select correct Date Of Birth.</span>
                </td>
            </tr>
            <tr>
                <td style="width:100px;">
                    <span>Cover Amount:</span>
                </td>
                <td>
                    <input type="number" ng-model="FormData.CoverAmount" id="coverAmount" placeholder="Enter Cover Amount" />
                    <span ng-show="IsCoverAmountError" style="color:red;">Incorrect Cover Amount.</span>
                </td>
            </tr>
            <tr>
                <td style="width:100px;">
                    Occupation:
                </td>
                <td>
                    <select ng-model="FormData.Occupation" class="form-control">
                        <option ng-repeat="option in OccupationList" value="{{option.id}}">{{option.value}}</option>
                    </select>
                </td>
            </tr>
            <tr></tr>
            <tr ng-hide="CalculatedPremium == ''">
                <td style="width:100px;">
                    Premium:
                </td>
                <td>
                    <span>A${{CalculatedPremium}}</span>
                </td>
            </tr>
        </table>         

    </div>
    
</body>
</html>